<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.palo.chelmer">
    <uses-permission android:name="android.permission.CAMERA"> </uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_web"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ScreenTwinty"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".ScreenNinteen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ScreenEighteen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ScreenSeventeen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Screensixteen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ScreenFifteen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ScreenFourteen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ScreenTherteen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ScreenTweal"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ScreenEleven"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ScreenTen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ScreenNine"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ScreenEightB"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ScreenEight"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ScreenSeven"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ScreenFive"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ScreenSix"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ScreenFour"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Screenthree"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ScreenTwo"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>